.board {
    background: #c8e2eb;
    height: 500px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    border: 5px solid #f19354;
    position: relative;
    box-shadow: 0 0 10px black;
}

.reset-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.board table {
    border-collapse: collapse;
}

.board table td {
    width: 40px;
    height: 40px;
}

.main-board {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translate(-50%);
}

.main-board table td {
    border: 1px solid #69696973;
    cursor: pointer;
}

.main-board table td[colspan],
table td.no-color {
    border: none;
    cursor: default;
}

.green-pice {
    position: absolute;
    top: 160px;
    left: 20px;
}

.purple-pice {
    position: absolute;
    top: 20px;
    left: 20px;
}

.pink-pice {
    position: absolute;
    top: 20px;
    left: 160px;
}

.blue-pice {
    position: absolute;
    top: 20px;
    right: 160px;
}

.aqua-pice {
    position: absolute;
    top: 20px;
    right: 20px;
}

.yellow-pice {
    position: absolute;
    top: 160px;
    right: 20px;
}

.color {
    cursor: pointer;
}

.green-pice .color {
    background-color: #08a53c;
}

.pink-pice .color {
    background-color: #b92d5c;
}

.blue-pice .color {
    background-color: #1f7cbb;
}

.yellow-pice .color {
    background-color: #f79401;
}

.purple-pice .color {
    background-color: #b90fb9;
}

.aqua-pice .color {
    background-color: #00c0b6;
}